<div ng-if="chartdata.length>0"  id="{{id}}" retailers="{{retailers}}" reportstarttime="{{reportstarttime}}" reportendtime="{{reportendtime}}" comparestarttime="{{comparestarttime}}" compareendtime="{{compareendtime}}" retailerid="{{retailerid}}"
 product="{{product}}" style="min-width: 100%; height: 100px; margin: 0 auto"></div>


<div ng-if="chartdata.length==0">
<div  style=" min-width: 100%; height: 100px; margin: 0 auto">
	 <center><span style="color: black">{{ 'Retaillang.NoresultFound' | i18n }}</span></center>
</div></div>