<div ng-include src="'modules/dashboard/views/header.html'"></div>

<section class="products">
<div ng-controller="campaignListCtrl">
<div class="container-fluid">

<div class="row row_margin">
<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 list-group">
<div class="list-group">
<div class="indexfontsize" class="sidebar-menu-item">
<div class="row capital" ng-show="role=='retailer'">
<div class="indexfontsize col-xs-10 col-sm-10 col-md-11 col-lg-11 ellipsis">
<div ng-if="campaign_status==='Pending' || campaign_status==='null'" class="selected-link">
<a ui-sref="campaignListPending({status: 'Pending'})">Pending
</a>
</div>
<div ng-if="campaign_status!=='Pending' && campaign_status!=='null'" class="campaign-link">
<a ui-sref="campaignListPending({status: 'Pending'})">Pending
</a>
</div>
</div>
</div>
<div class="row capital">
<div class="indexfontsize col-xs-10 col-sm-10 col-md-11 col-lg-11 ellipsis">
<div ng-if="campaign_status==='Active' || campaign_status==='null'" class="selected-link">
<a ui-sref="campaignListActive({status: 'Active'})">Active</a>
</div>
<div ng-if="campaign_status!=='Active' || campaign_status==='null'" class="campaign-link">
<a ui-sref="campaignListActive({status: 'Active'})">Active</a>
</div>
</div>
</div>
<div class="row capital">
<div class="indexfontsize col-xs-10 col-sm-10 col-md-11 col-lg-11 ellipsis">
<div ng-if="campaign_status==='Archive'" class="selected-link">
<a ui-sref="campaignListArchive({status: 'Archive'})">Archive
</a>
</div>
<div ng-if="campaign_status!=='Archive'" class="campaign-link">
<a ui-sref="campaignListArchive({status: 'Archive'})">Archive
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 dashbordbg-navbar ">
<div class="row campaign-addnewcampaign campaign-btnmargin">
<div ng-show="role=='retailer'">
<button type="submit" ui-sref="Campaigns" class="btn create-campign-btn">
{{'Retaillang.NewCampaign' |i18n}}
</button>
</div>
<div class="col-xs-12 col-sm-9  col-md-10  col-lg-10">
<h4 class="capital">{{campaign_status}} Campaigns</h4>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-12  col-md-4  col-lg-4">
<div class="pathindicatorsize ">
<p class="pathblack capital">
<a ui-sref="dashBoard ">{{'Retaillang.DASHBOARD' | i18n}}</a>
   >
<a ui-sref="campaignListArchive({status: 'Archive'})" class="pathblack capital">
{{'Retaillang.CAMPAIGNS'|i18n}}</a></li>
  >
<span class="startpath capital">{{campaign_status}}</span></p></div>
</div>
</div>
<div ng-show="len ==0 ">
<div class="row campaigns-border campaignListmargin">
<center>
<h2>
    No {{campaign_status+" "}}Campaigns
</h2>
</center>
<!--<div class="col-xs-0 col-sm-3 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8" style="margin-top: 15px;">
<h2> No {{campaign_status+" "}} campaigns</h2>
</div> -->
</div>
</div>
<br>
<div campaign_status=='Archive'">
<div ng-show="campaignrecords.length>0|| campaignrecords.length == 0">
<div class='row campaigns-border campaignListmargin' ng-repeat="list in campaignrecords">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="margin-top: 55px;">
<center>
<img class="img-responsive thumb" ng-src="{{nutella}}" width="150px" height="150px"/>
</center>
</div>
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
<div class="row">
<div class="col-xs-12 col-sm-6  col-md-7  col-lg-8">
<div ng-if="campaign_status=='Archive'">
<h3 ng-click="CampainDetailLaunch(list, 'Archive')"
    style="outline: none; font-size:28px; font-weight: bold;color:rgb(236, 92, 6)">
    {{list.CampaignsName}}
</h3>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4" align="left" style="margin-top: 20px">
<div class="row">
<center>
<div class="col-xs-7 col-sm-7 col-md-7 col-lg-5" style="padding: 0px;">
<p><span style=" color: grey;">
{{'Retaillang.camp-START'| i18n }} 
</span>
<span style="font-weight:bold;">{{list.sdate}}
</span>
</p>
</div>
</center>
<center>
<div class="col-xs-5 col-sm-5 col-md-5 col-lg-7" style="padding: 0px;margin-top:10px;">
<span style="color: grey;">
{{'Retaillang.camp-END'| i18n }} 
</span>
<span style="font-weight:bold;">{{list.edate}}
</span>
</div>
</center>
</div>
</div>
</div>
<div class="row" style="margin-bottom: 10px">
<div class="col-xs-12 col-sm-5  col-md-5  col-lg-4" style="margin-top: 10px;">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="hidden-xs hidden-sm col-md-6 col-lg-6" style="margin-left:  -10px !important;">
    <div class="row">
    <div ng-if="list.total!=''&&list.total!=null">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <div style=" color: #009800; font-size: 24px;">${{ list.total | number : 2}}
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <p style="color: grey; font-size: 11px;font-weight: normal">TOTAL SALES</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-5 col-sm-5 hidden-md hidden-lg" style="margin-left:  -10px !important;">
    <div class="row">
      <div ng-if="list.total!=''&&list.total!=null">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
     <div style=" color: #009800; font-size: 24px;"> {{ list.total | number : 2}}
      </div>
     </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <p style="color: grey; font-size: 10px;font-weight: normal">TOTAL SALES</p>
                              </div>
                            </div>
                          </div>
                        </div>
   <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
    <div class="row">
    <div ng-if="list.campaignRatio!=''">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <div style="color: #009800; font-size: 30px; margin-left:-15px !important;">{{list.campaignRatio+'%'}}<span
     style="color: #009800" class=" fa fa-arrow-up "></span></div>
    </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
   <p style="color: grey; font-size: 11px;font-weight: normal">COMPARED TO MONTHLY AVERAGE</p>
     </div>
      </div>
      </div>
      </div>
  <div class="col-xs-7 col-sm-7 hidden-md hidden-lg">
    <div class="row">
     <div ng-if="list.campaignRatio!=''">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <div style="color: #009800; font-size: 25px; margin-left:-6px !important;">{{list.campaignRatio+'%'}}<span
    style="color: #009800" class=" fa fa-arrow-up "></span></div>
   </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
   <p style="color: grey; font-size: 10px;font-weight: normal">COMPARED TO MONTHLY
             AVERAGE</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
     style="margin-top: 2px; padding-left: 10px; padding-right: 10px">
    <md-card>
    <campign-table data='list'></campign-table>
    </md-card>
    </div>
  </div>
  </div>
  <div class="col-xs-12 col-sm-7  col-md-7  col-lg-8">
  <div class="row">
  <div ng-if="list.showchart">
  <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12" style="padding-right:40px; padding-bottom:0px">
   <!-- <p>Here line chart</p> -->
       <div class="page_dashboard_box_well">
       <div class="page_dashboard_box_title "> {{'Retaillang.linechart_box1_title' | i18n}}
    <!--  <span
     class="page_dashboard_box_tooltip">&nbsp;</span>
    -->
    </div>
    <div class="page_dashboard_box_number">
                ${{ list.total | number : 2}}
    </div>
    <div class="page_dashboard_box_index_outer">
    <div class="page_dashboard_box_index_title cmplistfont">{{'Retaillang.Index' | i18n}}</div>
    <div class="{{getjatStyle(list.index)}}" id="index_dashboard_sales">{{list.index}}</div>
    </div>
    <campaignlist-directive id="list.id" data="list.datachart" record="list">
    </campaignlist-directive>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div><!--main row ending...-->
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
