<div ng-include src="'modules/dashboard/views/header.html'"></div>

<div ng-include src="'modules/dashboard/views/idlemodel.html'"></div>

<div ui-view></div>

<section class="coupon">
<div ng-controller="savecouponCtrl">
<div class="container-fluid">
<div class="row row_margin dashbordbg-navbar" >
<div class="col-xs-12 col-sm-1 col-md-2 col-lg-3">
</div>
<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6" style="margin-top:16px;">
<div class="row">
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
<!-- {{getsavevalue.image[0].file_path}} -->
<img class="img-responsive" ng-src="{{imagePath}}" width="160" height="160">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="margin-top:  25px;padding-left: 41px;">
<div class="row savecouponprdct" ng-repeat="record in getsavevalue.productname">
    <b>{{record.Name}}</b>
</div>
<div class="row savecoupondisc" >
<div ng-if="getsavevalue.coupon_discount[0].discount_id === 1">
    ${{getsavevalue.coupon_discount[0].discount_lower}} Off
</div>
<div ng-if="getsavevalue.coupon_discount[0].discount_id === 2">
    Save {{getsavevalue.coupon_discount[0].discount_lower}}%
</div>
<div ng-if="getsavevalue.coupon_discount[0].discount_id === 3">
    Buy {{getsavevalue.coupon_discount[0].discount_lower}} Get {{getsavevalue.coupon_discount[0].discount_upper}} Free
</div>
</div>
</div>
</div>
<br>
<div class="line-divider"></div>
<br><br>
<div class="row">
<div class="row savecouponoffer">
      Offer details:
</div>
<div class="row savecouponfrom" style="margin-top:5px;">
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-1" style="margin-left: -16px">
      From: 
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 savecouponenddate"  >
    {{getsavevalue.startdate}}
</div>
</div>
<div class="row savecouponfrom" style="margin-top:3px;">
<div ng-if="getsavevalue.coupon_expiration[0].expiration_id===1">
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-1  " style="margin-left: -16px" >
      End:
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 savecouponenddate" >
    {{getsavevalue.coupon_expiration[0].date}}
</div>
</div>
<div ng-if="getsavevalue.coupon_expiration[0].expiration_id===2">
<div class="col-xs-2 col-sm-4 col-md-4 col-lg-4" style="margin-left: -16px">
        Number of Products:
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 savecouponendProduct">
    {{getsavevalue.coupon_expiration[0].counter}}
</div>
</div>
</div>
</div>
<div class="row savecoupontext">
     {{getsavevalue.terms}}
</div>
<div class="row">
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 savecouponretailer"  >
    Stores:
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 30px;margin-left:-48px;color:black;font-size:16px;">
      <!-- {{retailer}} -->
<div ng-repeat="record in getsavevalue.selectedretailer" ng-if="record.id>0"> 
    {{record.retailerName}}
</div>
</div>
</div>
<div class="row" style="text-align:center;margin-top:50px;">
<button ng-if="role=='cpg'||role=='retailer'" type="submit" class="couponedit " ng-click="coupondeletemodal()" style="height:45px;"  invalid-checker="200">
      DELETE
</button>
<button type="submit" class="couponedit " ng-click="editcoupon()" style="height:45px;"  invalid-checker="200">
      EDIT
</button>
<button type="submit" class="btn campaignForm-btn " ng-click="postcoupon()" style="height:45px;" invalid-checker="200">
      POST COUPON
</button>
</div>
</div>
<div class="col-xs-12 col-sm-1 col-md-2 col-lg-3"  >
</div>
</div>
<!-- delete coupon modal-->
<div  class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="col-lg-4 col-md-6 col-sm-4 col-xs-4"></div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<center>
<div class="modal fade" id="cancelcampaign" role="dialog" style="margin-top: 100px">
<div class="modal-dialog" >
<div class="modal-contents model-invalid">
<div class="modal-header" >
<h4 class="model-invalid-title"> Delete Coupon</h4>
</div>
</div>
<div class="modal-body">
<br>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="titlepromocode">
<span class="glyphicon glyphicon-remove-sign msgred"></span>
      Do you want to delete this coupon?<br>
</div>
</div>
</div>
</div><br>
</div>
<div class="modal-footer" style="padding-bottom: 8px">
<center>
<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
<button type="button" class="btn btn-primary" data-dismiss="modal">
    {{ 'Retaillang.Cancelbtn' |i18n }}
</button>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
<button type="button" class="btn btn-primary capital" ng-click="deleteCoupon();">Delete
</button>
</div>
</div>
</center>
</div>
</div>
</center>
</div>
<div class="col-lg-4 col-md-2 col-sm-4 col-xs-4"></div>
</div>
</div>
<!-- end of delete coupon-->
</div>
</div>