<div ng-include src="'modules/dashboard/views/header.html'"></div>

<div ng-include src="'modules/dashboard/views/idlemodel.html'"></div>


<section class="products">
  <div ng-controller="departmentCtrl">
    <div class="container-fluid">
      <div class="row row_margin">
        <div ng-show=" selectoption=='Detergents'">
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 list-group">

                <div ng-show="selectoption=='Department'&& selectoption!='Detergents'">
                  <div class="list-group">
                    <br>
                    <div class="indexfontsize" ng-repeat="x in departments" class="sidebar-menu-item">
                      {{x.departmentDescription}}
                    </div>
                  </div>
                </div>


                <div ng-show="selectoption=='Detergents'&& selectoption!='Department'">
                  <div class="list-group">
                    <br>
                    <div class="indexfontsize" ng-repeat="x in detergents" class="sidebar-menu-item">
                      <div class="row">
                        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
                          {{x}}
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                          <div ng-show="datasign==undefined || x!=selectedmenuitem">
                            <div ng-click="selectedProduct(x,'pluse')" style="font-weight: 400; font-size: medium"> +
                            </div>
                          </div>
                          <div ng-show="datasign=='pluse' && x==selectedmenuitem">
                            <div ng-click="selectedProduct(x,'minus')" style="font-weight: 400; font-size: medium">
                              {{sign}}
                            </div>
                          </div>
                          <div ng-show="datasign=='minus' && x==selectedmenuitem">
                            <div ng-click="selectedProduct(x,'pluse')" style="font-weight: 400; font-size: medium">
                              {{sign}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>









        <div ng-show="selectoption=='Department'&& selectoption!='Detergents'">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashbordbg-navbar ">
            <div class="row">
              <div class="col-xs-12 col-sm-12  col-md-4  col-lg-4">

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="capital">{{ 'Retaillang.Department' | i18n }}</h3>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pathindicatorsize">
                      <p class="startpathname capital">
                      <a ui-sref="dashBoard">{{'Retaillang.DASHBOARD' | i18n}}</a>>
                      <!--   <a ui-sref="products">{{'Retaillang.PRODUCTS' | i18n}}</a>
                        </li>
                        > -->
                        <span class="currentpathname capital"> {{'Retaillang.DEPARTMENT' | i18n}}</span></p></div>
                  </div>
                </div>

              </div>
              <div class="col-xs-12 col-sm-12  col-md-2  col-lg-2">
                <div class="row">


                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div ng-if="role=='retailer'" class="capital">
                      {{ 'Retaillang.select-area' | i18n }}
                    </div>

                    <div ng-if="role=='cpg'" class="capital">
                      {{ 'Retaillang.DataSource' | i18n }}
                    </div>
                  </div>


                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                   <!--  <div ng-if="role=='retailer'">
                     

                      <div ng-if="showselectearea">
                        <select class="form-control" ng-model="data.selectedStoreId"
                                ng-change="getSelectedRecord(data.selectedStoreId);">
                          <option value="" selected="selected">{{ 'Retaillang.AllStores' | i18n }}</option>
                          <option ng-repeat="states in List track by $index" value={{states.store_id}}>
                            {{states.store_name}}
                          </option>
                        </select></div>
                    </div> -->
             <select class="form-control deptbrdr" data-ng-options="o.store_name for o in List" data-ng-model="selectedOption" ng-change="getSelectedRecord(selectedOption.store_id);"></select>




                    <div ng-if="role=='cpg'">


                      <div ng-if="ctrl.treeDropdownstatus">
                        <tree-dropdown class="tree-dropdown deptbrdr" data="ctrl.treeData" selected="ctrl.selected"
                                       callback="getcpgrecordfordept();"></tree-dropdown>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="row">
                  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 capital"> -->
                    <!-- {{ 'Retaillang.ReportTimePeriod' | i18n }} -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fontChange">
                       <span class="glyphicon glyphicon-stop"></span>  
                       <!-- <span  ng-bind="ReportTimePeriodp">  -->
                          {{ 'Retaillang.ReportTimePeriod' | i18n }}
                          <!-- {{ReportTimePeriodp}} -->
                        <!-- </span> -->

                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div style="cursor: default;" id="reporttime-department" class="form-control indexfontsize deptbrdr">
                      <span></span>
                      <i class="glyphicon glyphicon-calendar fa fa-calendar calendaralign deptdtpkr"></i><b
                      class="calendaralign"></b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chnageFontColor" >
                    <!-- {{ 'Retaillang.CompareTimeperiod' | i18n }} -->
                      <span class="glyphicon glyphicon-stop"></span> 
                      {{ 'Retaillang.CompareTimeperiod' | i18n }}
                      <!-- {{compareTimePeriod}} -->
                   
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="right-inner-addon ">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar calendaralign deptdtpkr"></i>
                      <input type="text" name="daterangedepartment"class="form-control indexfontsize deptbrdr" style="cursor: default;"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4  col-lg-4 fontChange">
                <span class="glyphicon glyphicon-stop"></span> <span
                ng-bind="ReportTimePeriodp"> {{ReportTimePeriodp}}</span>
              </div>
              <div class="col-xs-12 col-sm-8  col-md-4  col-lg-4 chnageFontColor">
                <span class="glyphicon glyphicon-stop"></span> {{compareTimePeriod}}
              </div>
              <div class="  col-md-1 col-lg-2"></div>
              <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2" align="right">

              </div>
            </div> -->
            <hr>


            <div class="row dashbordbg-baranddonutchart">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <div ng-if="spin">
                      <span us-spinner="{radius:10, width:5, length: 10}" spinner-key="spinner-1"
                            spinner-start-active="false"></span>
                    </div>
                    <div class="row">
                <div ng-if="showpiechart&&donutchartData.length>0">
                      <departmentdonutchart-directive id="piechartid" data="donutchartData" index="donutchartindex" color="indexcolor">
                        
                      </departmentdonutchart-directive>
                      </div>
                       <div ng-if="donutchartData.length == 0">
                      
              <center><span style="color: black">{{ 'Retaillang.NoresultFound' | i18n }}</span></center>
                     
                      </div>

                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div ng-if="spin">
                      <span us-spinner="{radius:10, width:5, length: 10}" spinner-key="spinner-1"
                            spinner-start-active="false"></span>
                    </div>
                    
                      <div class="row">

          <div ng-if="showbarchart && alldeparmentbarchartData.length>0">
         
            <departmentbarchart-directive id="barchartid" data="alldeparmentbarchartData"  chartheight="chartheight">
            </departmentbarchart-directive>
                     </div>

                  <div ng-if="alldeparmentbarchartData.length == 0">
                      
              <center><span style="color: black">{{ 'Retaillang.NoresultFound' | i18n }}</span></center>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
