<div ng-include src="'modules/dashboard/views/header.html'" xmlns: xmlns:></div>
<div ng-include src="'modules/dashboard/views/idlemodel.html'"></div>
<script type="text/ng-template" id="customTemplate.html" >
<a>
<!-- <img ng-src="{{match.model.image}}" width="30" > -->
<span ng-bind-html="match.model.product|uibTypeaheadHighlight:query" ></span>
<span></span>
<span ng-bind-html="match.model.price | uibTypeaheadHighlight:query" ></span>
<br>
<span style="font-size:13px !important" ng-bind-html="match.model.upc | uibTypeaheadHighlight:query"></span>
</a>
</script>
 <section class="products">
 <div ng-controller="productDetailCtrl">
 <div class="container-fluid">
 <div class="MaskLayer" ng-class="{isClosed : !masked}">
 <div class="MaskLayer-Content">
 <p>
 </p>
 </div>
 </div>

  <div id="printSectionId">
  <div class="row row_margin dashbordbg-navbar">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left:20px;
  padding-right:35px">

  <div class="row " ng-if="role!=='cpg'">
  <!-- <div ng-if="role=='retailer' ||'cpg'"> -->
  <div >

  <div ng-if="role=='retailer'" class="col-xs-12 col-sm-3 col-md-2 col-lg-3 productDetails-filter">
  <select class="form-control indidept_margin" data-ng-options="o.store_name for o in List" data-ng-model="selectedOption" ng-change="getSelectedProduct(selectedOption.store_id);"></select>  
  </div>

 
   <!-- <div ng-if="role=='cpg'" class="col-xs-12 col-sm-3 col-md-2 col-lg-3 productDetails-filter">
 
  <div ng-if="ctrl.treeDropdownstatus">
  <tree-dropdown class="tree-dropdown indidept_margin" data="ctrl.treeData" selected="ctrl.selected" callback="getcpgrecord();" ></tree-dropdown>
  </div>
    </div> -->
 </div>

  
 <!-- </div>    -->
  <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9 ">
  <div class="row productDetails-filter ">
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 " style=" padding-right: 0px;padding-left:20px;" >
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dtmargin">
  <select class="form-control bgcolor prdctwidth" ng-options="names.name for names in reporttimeranges " ng-model="selectedtimeperiod" ng-change="timerange(selectedtimeperiod);"></select>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 prdctmargin " style="padding-right: 0px;">
  <div class="row">
  <div class="col-xs-5 col-sm-4 col-md-5 col-lg-5 fontChange nopadding dtpkrfont dtmargin prdctalign" >
  <span class="glyphicon glyphicon-calendar"></span>
        {{ 'Retaillang.ReportTimePeriod' | i18n }}: 
  </div>
  <div class="col-xs-7 col-sm-8 col-md-7 col-lg-7 leftpadding" style="padding-right: 12px;text-align:left;">
 <div style="cursor: default; " id="reporttime-individual" class="form-control prdctfont xspadding navpadding">
  <span></span>
  <i class="glyphicon glyphicon-calendar fa fa-calendar product_calendaralign"></i>
 <b class="product_calendaralign"></b> 
 </div> 
 </div>
 </div>
 </div>
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 prdctmargin " style="padding-right: 0px;">
  <div class="row">
  <div class="col-xs-5 col-sm-4 col-md-5 col-lg-5 chnageFontColor nopadding dtpkrfont dtmargin prdctalign">
  <span class="glyphicon glyphicon-calendar"></span>
        {{ 'Retaillang.CompareTimeperiod' | i18n }}:
  </div>
  <div class="col-xs-7 col-sm-8 col-md-7 col-lg-7 leftpadding proddetail_margin"  style="padding-right: 12px;">
  <div class="prdct-right-inner-addon ">
  <i class="glyphicon glyphicon-calendar fa fa-calendar product_calendaralign "></i>
   <input type="text"  name="daterange" class="form-control prdctfont xspadding navpadding" style="cursor: default;"/>
  </div>
  </div>
  </div>
  </div>
  </div>

  </div>
</div>


<div ng-if="role=='cpg'" class="row productDetails-filter" >
    <div class="row " style="margin-bottom: -11px;margin-left: 0px;padding-bottom: 15px; margin-top:-7px">
    <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4 newdemo ">
       <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dbpaddd capital" >           <h5><b>SALES AREA</b></h5>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dbpaddd"> 
            <div class=" newright-inner-addon" >
                <i ng-if="!loadingLocations" class="glyphicon glyphicon-search prdghcolor" style="right:13px;padding: 9px 10px;">  </i>
                <i ng-if="loadingLocations" class="loader" style="right:13px;padding: 16px 10px;"></i>            
              <input class="form-controldropdown typeahead" type="text" id="dmaValue"
                     ng-model="dma" typeahead-min-length="3"
                     uib-typeahead="dmaList.name for dmaList in getDmaList($viewValue)"
                     typeahead-loading="loadingLocations"
                     typeahead-no-results="noResults" autocomplete="off"
                     placeholder="Enter DMA"  
                     typeahead-on-select="selectDMA(dma)"  
                     required style="width:100%">             
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12  col-md-4  col-lg-4 newdemo ">
       <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dbpaddd capital" >          <h5><b>Retailers</b></h5>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dbpaddd">
              <div ng-if="ctrl.treeDropdownstatus">              
                 <tree-dropdown class="tree-dropdown " data="ctrl.treeData" selectdata="ctrl.selected" callback="getcpgrecord();" style="padding-left:0px;">
                 </tree-dropdown>
              </div>
          </div>
        </div>
      </div>

     </div>
   

   <div class="row" style="margin-left:0px">
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 " style=" padding-right: 0px;" >
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dtmargin">
  <select class="form-control bgcolor prdctwidth" ng-options="names.name for names in reporttimeranges " ng-model="selectedtimeperiod" ng-change="timerange(selectedtimeperiod);"></select>
  </div>
  </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 prdctmargin " style="padding-right: 0px;">
  <div class="row">
  <div class="col-xs-5 col-sm-4 col-md-5 col-lg-5 fontChange nopadding dtpkrfont dtmargin prdctalign" >
  <span class="glyphicon glyphicon-calendar"></span>
        {{ 'Retaillang.ReportTimePeriod' | i18n }}: 
  </div>
  <div class="col-xs-7 col-sm-8 col-md-7 col-lg-7 leftpadding" style="padding-right: 12px;text-align:left;">
 <div style="cursor: default; " id="reporttime-individual" class="form-control prdctfont xspadding navpadding">
  <span></span>
  <i class="glyphicon glyphicon-calendar fa fa-calendar product_calendaralign"></i>
 <b class="product_calendaralign"></b> 
 </div> 
 </div>
 </div>
 </div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 prdctmargin " style="padding-right: 0px;">
  <div class="row">
  <div class="col-xs-5 col-sm-4 col-md-5 col-lg-5 chnageFontColor nopadding dtpkrfont dtmargin prdctalign">
  <span class="glyphicon glyphicon-calendar"></span>
        {{ 'Retaillang.CompareTimeperiod' | i18n }}:
  </div>
  <div class="col-xs-7 col-sm-8 col-md-7 col-lg-7 leftpadding proddetail_margin"  style="padding-right: 12px;">
  <div class="prdct-right-inner-addon ">
  <i class="glyphicon glyphicon-calendar fa fa-calendar product_calendaralign "></i>
   <input type="text"  name="daterange" class="form-control prdctfont xspadding navpadding" style="cursor: default;"/>
  </div>
  </div>
  </div>
  </div>
  </div>
   



 </div>










  <!-- </div> -->
 <div class="row" style="margin-top:25px">
 <div ng-repeat="item in itemsList">
 <div ng-show="item.linechart.linechart">
 <div class="row">
 <div class='col-xs-12 col-sm-5 col-md-5 col-lg-5 '>
 <div class='row'>
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size: 18px;">
    <b> {{item.linechart.productName}}</b>
    <br>
 </div>
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size: 14px;color: #555;margin-top:4px;">
            UPC#:{{item.linechart.itemNumber}}
 </div> 
 </div>
 </div>
 <div class='col-xs-12 col-sm-7 col-md-7 col-lg-7 '>
 <div class="row"  ng-if="role=='retailer'">
 <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
 <div class="row" >
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' style="font-size: 13px;">
  DEPARTMENT
 </div>
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 prdctdetailDept' >
  <div ng-if="departmentDetail.deptName != ''">
    {{departmentDetail.deptName}}
 </div>
 <div ng-if="departmentDetail.deptName == ''">
      N/A
 </div>
 </div>
 </div>
 </div>
 <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4' style="font-size: 13px;">
 <div class="row" >
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
  CATEGORY
 </div>
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 prdctdetailDept ' >
 <div ng-if="departmentDetail.categoryName != ''">
      {{departmentDetail.categoryName}}
 </div>
  <div ng-if="departmentDetail.categoryName == ''">
       N/A
 </div>
 </div>
 </div>
 </div>
 <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4' style="font-size: 13px;">
 <div class="row">
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
  MANUFACTURER
 </div>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 prdctdetailDept capital' >
  <div ng-if="departmentDetail.mfgName != ''">
  {{departmentDetail.mfgName}}
  </div>
  <div ng-if="departmentDetail.mfgName == ''">
       N/A
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="row"  ng-if="role=='cpg'">
 <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4' style="font-size: 13px;">
 <div class="row" >
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
  CATEGORY
 </div>
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 prdctdetailDept' >
  <div ng-if="departmentDetail.categoryName != ''">
      {{departmentDetail.categoryName}}
 </div>
  <div ng-if="departmentDetail.categoryName == ''">
       N/A
 </div>
 </div>
 </div>
 </div>
 <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4' style="font-size: 13px;">
 <div class="row">
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
  MANUFACTURER
 </div>
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 prdctdetailDept capital' >
   <div ng-if="departmentDetail.mfgName != ''">
  {{departmentDetail.mfgName}}
  </div>
  <div ng-if="departmentDetail.mfgName == ''">
       N/A
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="row"  ng-if="role=='distributor' ">
 <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4' style="font-size: 13px;">
 <div class="row" >
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
  CATEGORY
 </div>
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 prdctdetailDept' >
  <div ng-if="departmentDetail.categoryName != ''">
      {{departmentDetail.categoryName}}
 </div>
  <div ng-if="departmentDetail.categoryName == ''">
       N/A
 </div>
 </div>
 </div>
 </div>


 <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4' style="font-size: 13px;">
 <div class="row">
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
  MANUFACTURER
 </div>
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 prdctdetailDept capital' >
   <div ng-if="departmentDetail.mfgName != ''">
  {{departmentDetail.mfgName}}
  </div>
  <div ng-if="departmentDetail.mfgName == ''">
       N/A
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="row" style="margin-top:25px">
 <div class='col-xs-12 col-sm-8 col-md-8 col-lg-8'>
 <hr style="border-top: 1px solid #777777;">
 <!-- first row in col-8.... -->
 <div class="row">
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
 <div class="row">
 <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3'>
 <div class="indidept_page_dashboard_box_title"> 
        {{'Retaillang.linechart_box1_title' | i18n}}
 </div>
 <div class="indidept_page_dashboard_box_number capital" style="font-size:140%">
       ${{ item.linechart.total | number:2}}
 </div>
 </div>
 <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 verticalborder'>
 <div class="indidept_page_dashboard_box_title" style="margin-top: 21px;"> 
       UNITS SOLD
 </div>
 <div class="indidept_page_dashboard_box_number capital" style="font-size:140%">
        {{item.linechart.unitsold.unitSoldbyRp|number :2}}
 </div>
 </div>
 <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 product-text verticalborder'>
 <div class="indidept_page_dashboard_box_title" style="margin-top: 21px;"> 
 <span class="capital">
               Shopping Trips
 </span>
 </div>
 <div class="indidept_page_dashboard_box_number capital" style="font-size:140%">
  <div ng-if="item.linechart.shoppingtrips >= 1" id="index_dashboard_sales" class="{{getindexStyle(item.linechart.shoppingtrips)}}"> 
  {{item.linechart.shoppingtrips}}
 <img class="" ng-src="images/arrow-up-green.png">
 </div>
 <div ng-if="item.linechart.shoppingtrips < 1" id="index_dashboard_sales" class="{{getindexStyle(item.linechart.shoppingtrips)}}"> 
  {{item.linechart.shoppingtrips}}
 <img class="" ng-src="images/arrow-down-red.png">
 </div>
 </div>
 </div>
 <div class='col-xs-12 col-sm-6 col-md-3 col-lg-3 product-text verticalborder'>
 <div class="indidept_page_dashboard_box_title" style="margin-top: 21px;"> 
 <span class="capital">
              Avg. Basket size
 </span>
 </div>
 <div class="indidept_page_dashboard_box_number capital" style="font-size:140%">
 <div ng-if="item.linechart.avgbasket >= 1" id="index_dashboard_sales" class="{{getindexStyle(item.linechart.avgbasket)}}"> 
  {{item.linechart.avgbasket}}
 <img class="" ng-src="images/arrow-up-green.png">
 </div>
 <div ng-if="item.linechart.avgbasket < 1" id="index_dashboard_sales" class="{{getindexStyle(item.linechart.avgbasket)}}"> 
  {{item.linechart.avgbasket}}
 <img class="" ng-src="images/arrow-down-red.png">
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <hr style="border-top: 1px solid #777777;margin-top: 0px !important;">
 <!-- second row in col-8..... -->
 <!-- <div class="row">
 <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 forecasttext'>
  4-Week Sales Forecast
 </div>
 <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6' style="text-align:left">
 <div class="row">
 <div class='col-xs-12 col-sm-10 col-md-9 col-lg-7' style="text-align:left">
 <button type="button" class="forecastbtn">ACTIVATE FORECAST</button>
 </div>
 <div class='col-xs-12 col-sm-2 col-md-3 col-lg-3' style="text-align:left">
 <div class="glyphicon glyphicon-info-sign" style="margin-left:0px;font-size:25px">
 </div>
 </div>
 </div>
 </div>
 </div>
 <hr style="border-top: 1px solid #777777;"> -->
<!-- third row in col-8..... -->
 <div id="{{item.linechart.itemNumber+$index}}">
 <div class="row">
 <div class="page_dashboard_box_well indboxheight" style="margin-left:0px;">
 <div class="row">
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
 <div class="indidept_page_dashboard_box_index_outer">
 <div class="indidept_page_dashboard_box_index_title" style="padding-left:10px;">Index</div>
 <div class="{{getjatStyle(item.linechart.index)}}" id="index_dashboard_sales">{{item.linechart.index}}</div>
 </div>  
 </div>
 <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
 <productcompare-directive id="item.linechart.id" data="item.linechart.data" itemnumber="item.linechart.itemNumber" unitsold="item.linechart.unitsold" dates="reportdateobject"></productcompare-directive>
 </div>
 </div>
 </div>  
 </div>
 </div>
 <!-- forth row in col-8..... -->
 <div class="row"  style="margin-left:30px;">
  <div ng-if="itemsList[0].linechart.data.length == 0" style="margin-top: 22px;text-align: center;
    font-size: 16px;font-weight: bold;">
    NO DATA AVAILABLE
  </div>
   <div ng-if="itemsList[0].linechart.data.length != 0">
   <table class="table table-striped">
    <hr style="margin-bottom: 1px;border-top: 2px solid #555;">
    <thead>
      <tr>
        <th>Report Time Period</th>
        <th>Compare Time Period</th>
        <th>Report Time Sales Amount</th>
        <th>Compare Time Sales Amount</th>
        <th>Report Time Units Sold</th>
        <th>Compare Time Units Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tabledata in itemsList[0].linechart.data">
        <td>{{tabledata.date}}</td>
        <td>{{tabledata.date1}}</td>
        <td>${{tabledata.amt}}</td>
        <td>${{tabledata.amt1}}</td>
        <td>{{tabledata.unitSoldbyRp}}</td>
        <td>{{tabledata.unitSoldbyCp}}</td>
      </tr>
    </tbody>
  </table>
 </div>
 </div>
 <!-- fifth row in col-8..... -->
 <div class="row">
 <div class='col-xs-12 col-sm-8 col-md-8 col-lg-8'>
 <!-- <div class="row">
 <div class='col-xs-4 col-sm-3 col-md-3 col-lg-3'>
 <div class="row">
 <div class='col-xs-2 col-sm-2 col-md-7 col-lg-5' style="margin-top: -39px;">
 <svg height="100" width="100">
 <circle cx="50" cy="50" r="8" stroke="red" stroke-width="3" fill="red" />    
 </svg>
 </div>
 <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'> 
  Coupon
 </div>
 </div>
 </div>
 <div class='col-xs-6 col-sm-3 col-md-3 col-lg-3'>
 <div class="row">
 <div class='col-xs-2 col-sm-2 col-md-7 col-lg-5' style="margin-top: -39px;">
 <svg height="100" width="100">
 <circle cx="50" cy="50" r="8" stroke="green" stroke-width="3" fill="green" />    
 </svg>
 </div>
 <div class='col-xs-5 col-sm-5 col-md-5 col-lg-5'> 
  Campaign
 </div>
 </div>
 </div>
 </div> -->
 </div>
<!--  <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4' style="text-align:right">
 <a href="" class="downloadcsvfile"><span class="glyphicon glyphicon-download-alt"></span>DOWNLOAD CSV</a>
 </div> -->
 </div> 
 </div>
 <!-- second column....... -->
 <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4' style="padding-left:45px;padding-right:30px">
  <hr style="border-top: 1px solid #777777;margin-bottom: 15px;">
   <!-- <div class="row inventoryfont">INVENTORY</div> -->
  <div class="row inventoryfont">COMPARE PRODUCTS:</div> 
  <div class="row" style="padding-right: 6px;">  
  <div class=" newright-inner-addon">
  
  <!-- <i ng-if="!loadingLocations" class="glyphicon glyphicon-search prdghcolor detailsearch" >  
  </i> -->
  <i ng-if="loadingLocations" class="loader detailsearch" style="">
  </i>  
  <input type="text" ng-model="product"
         class="form-control typeahead indisearchbox"
         typeahead-min-length="3"
         uib-typeahead="typeaheadList.upc for typeaheadList in GetProductList($viewValue) "
         typeahead-on-select="productselected(product)"
         typeahead-loading="loadingLocations"
         typeahead-no-results="noResults" autocomplete="off"
         typeahead-template-url="customTemplate.html"
         placeholder="Find Product or UPC to compare"
         required style="cursor: pointer;">
    <!--<input type="text" id="myInput" ng-model="searchKeyword" 
        class="form-control typeahead indisearchbox"
        placeholder="Find Product or UPC to compare"
        style="cursor: pointer;"> -->
    </div>
    </div>
  <div class="row compareprdct">COMPARE RELATED PRODUCTS:</div>
  <div class="row capital">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="list-group" style="height:470px;overflow-y:auto; overflow-x:hidden;color:#555">
  <!-- <div ng-repeat="x in productList  | filter: searchKeyword" > -->
  <div ng-repeat="x in productList " >
  <div id="mySelect" class="list-departmet-items">
  <div  ng-click="selectedcompareProduct(x);" style="word-wrap: break-word;">
        {{ x.productName}}
  </div>
  </div>
  <!-- <div ng-if="x.status=='minus'" id="mySelect" class="list-departmet-items selectedlist" style="background-color: white">
  <div  ng-click="selectedProduct(x);" style="word-wrap:break-word;">
        {{ x.productName}}
  </div>
  </div> -->
  </div>
  </div>
  </div>
  </div>           
 </div>
 </div>
 </div>
 </div>
 </div>
  </div>
  </div>
 </div>
 </div>
 </section>
 
